export PG_MIGRATION_USER=youchoose_migrator
export PG_MIGRATION_PASSWORD=password
export POSTGRES_DB=youchoose_db
export POSTGRES_HOSTNAME=localhost
export POSTGRES_PORT=5432
export TERN_CONFIG=/users/daniel/github.com/DanielKirkwood/youchoose/backend/database/tern.conf
export TERN_MIGRATIONS=/users/daniel/github.com/DanielKirkwood/youchoose/backend/database/migrations
export DATABASE_CONNSTRING=postgres://youchoose_user:userpass@localhost:5432/youchoose_db?sslmode=prefer
